<% if(locals.errors){ %> 
  <% errors.forEach(function(error) { %>
    <div class="alert  alert-warning fade show" role="alert">
      <strong><i class="bi bi-exclamation-triangle-fill"></i> Oops!</strong> <%= error.msg %>  
      
    </div>
  <% }); %> 
<% } %>

<% if(success_msg != ''){ %>
  <div class="alert  alert-success fade show" role="alert">
    <strong><i class="bi bi-check-circle-fill"></i> Good!</strong> <%= success_msg %> 
    
  </div>
<% } %>

<% if(error_msg != ''){ %>
  <div class="alert  alert-danger fade show" role="alert">
    <strong><i class="bi bi-exclamation-circle-fill"></i> Psss!</strong> <%= error_msg %>
    
  </div>
<% } %>

<% if(error != ''){ %>
  <div class="alert  alert-danger fade show" role="alert">
    <strong><i class="bi bi-x-circle-fill"></i> Oh no!</strong> <%= error %> 
    
  </div>
<% } %>

<% if(warning_msg != ''){ %>
  <div class="alert  alert-warning fade show" role="alert">
    <strong><i class="bi bi-exclamation-triangle-fill"></i> Watch out!</strong> <%= warning_msg %>
    
  </div>
<% } %>