<%- include('./partials/nav') %>

<br>
<br>
<br>
<br>
<div class="container">
    <div class="matches">
        <h3 class="text-center mb-4">As It Stands</h3>
  

              <div class="table-responsive">
                  <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                            <th>Name </th>
                            <th>Total Vote </th>
                            <th>Total Points </th>
                          </tr>
                      </thead>
                  
                      <tbody>
                    
                          <% standings.forEach(function(data) {%>

                              <tr>
                                  <td><%= data['fname'] %>  <%= data['lname'] %> </td>
                                  <td><%= data['vote_count'] %></td>
                                  <td><%= data['points'] %></td>
                             </tr> 
                             
                                 <% }) %>

                 
                   
                     
                      

                          </tbody>
                  </table>
              </div>

    </div>
</div>

<%- include('./partials/footer') %>

<!-- Link to Font Awesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Link to Local Bootstrap JS -->
<script src="/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>

